<form action="/add" method="post">
    <input type="hidden" name="add">
    <input type="submit" value="Add" />
</form>

<%data.map((item,index)=>{%>
    <h3 style="font-size: 45px; color:rgb(109, 27, 27); font-weight: bolder;margin:0%;">Tilte : <%=item.title%></h3>
    

    <form action="/edit" method="post">
        <input type="hidden" value="<%=item._id%>" name="id">
        <input type="hidden" value="<%=item.title%>" name="title">
        <input type="hidden" value="<%=item.content%>" name="content">
        <input type="submit" value="Edit"/>
    </form>

    <form action="/delete" method="post">
        <input type="hidden" value="<%=item._id%>" name="id1">
        <input type="hidden" value="<%=index + 1%>" name="index">
        <input type="submit" value="Delete"/>
    </form>

    
<%})%>